In [1]:
station_name='Helsinki Kaivopusto'

In [2]:
station_id=132310

In [3]:
station_lat=60.15

In [4]:
station_lon=24.96

In [5]:
station_type='Mareographs'

In [6]:
type(station_name)

str

In [7]:
type(station_id)

int

In [8]:
type(station_lat)

float

In [9]:
type(station_lon)

float

In [10]:
type(station_type)

str

We can add compatible characters

In [11]:
print(station_id+station_lat)

132370.15

In [15]:
print(station_name +  station_type)

Helsinki KaivopustoMareographs

#We can convert from one data type to the other

In [17]:
station_id_str=str(station_id)

In [18]:
type(station_id_str)

str

In [19]:
print(station_id_str)

132310

In [20]:
station_id_str

'132310'

In [21]:
station_name + station_id_str

'Helsinki Kaivopusto132310'

In [22]:
station_lat_int = int(station_lat)

In [23]:
station_lat_int

60

In [24]:
station_lon_int = int(station_lon)

In [25]:
station_lon_int

24

In [26]:
print(station_id+station_lon)

132334.96

#We can combine text and numbers

In [29]:
station_name_id= station_name + ': ' + str(station_id)

In [30]:
print(station_name_id)

Helsinki Kaivopusto: 132310

#List and Indices

In [32]:
station_names = ['Helsinki Harmaja', 'Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

In [33]:
type(station_names)

list

In [34]:
type(station_name[1])

str

In [37]:
print(station_names[0])

Helsinki Harmaja

In [39]:
print(station_names[3])

Helsinki Kumpula

In [40]:
Bill = ['lollipop', 'Cooky', 'Burger', 'Taco', 'ice_cream', 'Beer']

In [43]:
print(Bill[5])

Beer

In [44]:
print(Bill[3])

Taco

In [45]:
type(Bill)

list

In [46]:
len(station_names)

4

In [47]:
len(Bill)

6

In [48]:
len(Bill[3])

4

In [49]:
print(len(Bill))

6

In [50]:
print(station_names[-1])

Helsinki Kumpula

In [51]:
print(station_names[-2])

Helsinki Kaivopuisto

In [52]:
print(station_names[-4])

Helsinki Harmaja

In [53]:
print(Bill[-6])

lollipop

In [54]:
station_types = ['weather stations', 'weather stations', 'weather stations', 'weather stations']
print(station_types)

['weather stations', 'weather stations', 'weather stations', 'weather stations']

In [55]:
station_types[2] = 'Mareographs'
print(station_types)

['weather stations', 'weather stations', 'Mareographs', 'weather stations']

#Data Types in List: We can put already defined variables in a list. This does not need quotation marks.

In [57]:
station_hel_kaivo = [station_name, station_id, station_lat, station_lon, station_type]
print(station_hel_kaivo)

['Helsinki Kaivopusto', 132310, 60.15, 24.96, 'Mareographs']

In [58]:
type(station_hel_kaivo)

list

In [59]:
type(station_hel_kaivo[0]) #station name

str

Adding and Removing Values from List

In [60]:
del Bill[0]
print (Bill)

['Cooky', 'Burger', 'Taco', 'ice_cream', 'Beer']

In [61]:
del station_names[0]

In [62]:
print(station_names)

['Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

In [63]:
station_names.append('Helsinki lighthouse')
station_names.append('Helsinki Malmi Airfield')
print(station_names)

['Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula', 'Helsinki lighthouse', 'Helsinki Malmi Airfield']

In [64]:
type(station_names)

list

In [65]:
print(station_names + ['fake station1', 'fake station2'])

['Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula', 'Helsinki lighthouse', 'Helsinki Malmi Airfield', 'fake station1', 'fake station2']

In [67]:
del station_names[4]

In [68]:
print(station_names)

['Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula', 'Helsinki lighthouse']

In [69]:
station_name_length = len(station_names)

In [70]:
print(station_name_length)

4

We can check how many times an item occurs in a list using count function

In [75]:
station_names.count('Helsinki Kumpula')

1

We can also use list.index() method to find the index value of a given item in a list

In [78]:
Bill.index('Taco')

2

We can reverse a list using list.reverse() command

In [79]:
station_names.reverse()
print(station_names)

['Helsinki lighthouse', 'Helsinki Kumpula', 'Helsinki Kaivopuisto', 'Helsinki Kaisaniemi']

In [80]:
Bill.reverse()
print(Bill)

['Beer', 'ice_cream', 'Taco', 'Burger', 'Cooky']

We can sort a list using list.sort()

In [82]:
station_names.sort()
print(station_names)

['Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula', 'Helsinki lighthouse']

Sorting gives priority to lower cases.